.regu-clients {
    padding: 60px 0px;

    @media (min-width: 1200px) {
        padding: 94px 0;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__list {
        margin-bottom: 0;
        flex-basis: calc((100% - 4 * 30px) / 2);
        @media (min-width: 1200px) {
            flex-basis: calc((100% - 12 * 15px) / 6);
        }
        @media (max-width: 1199px) {
            flex-basis: calc((100% - 6 * 15px) / 3);
        }
        @media (max-width: 767px) {
            flex-basis: calc((100% - 4 * 15px) / 2);
        }
    }
    
    &__list:not(:nth-last-child(-n + 2)) {
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    &__list:not(:nth-last-child(-n + 3)){
        @media (max-width: 1199px) {
            margin-bottom: 15px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        fill: #afb1b8;

        border: 1px solid #afb1b8;
        box-sizing: border-box;
        border-radius: 4px;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media (min-width: 1200px) {
            width: 170px;
        }
        @media (max-width: 1199px) {
            width: 226px;
        }
        @media (max-width: 767px) {
                width: 210px;
        }
            
    }

    &__link:hover,
    &__link:focus {
        border: 1px solid var(--accent-color);
        fill: var(--accent-color);
    }
}